<!DOCTYPE html>

<html lang="en" ng-app="mohio">
  <head>
    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


    <!-- MATERIAL DESIGN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />


    <!-- CUSTOM -->
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles/mohio.css">

  </head>

  <body layout="column" ng-controller="AppCtrl" ng-init="init(<%= user.id %>)">        

    <md-content>
      <md-toolbar id="nav" layout="row">
        <div class="md-toolbar-tools">
          <md-button>
            <a href="">
              <span class="nav-accent" style="margin-right: 20px;">Mohio</span>
            </a>
          </md-button>
          <span flex></span>
          <md-button class="login" ng-click="toggleControlPanel()">
            <span class="nav-accent"><%= user.email %></span>
          </md-button>
        </div>
      </md-toolbar>

      <div class="spacer"></div>

      <!-- DIRECTORIES -->
      <div id="dashboard" class="section" ng-hide=controlPanelOpen>
        <h1>Welcome to Mohio!</h1>

        <md-input-container flex>
          <label>New Note</label>
          <textarea ng-model="note" columns="1"></textarea>
        </md-input-container>
        <md-button ng-click="addNote()" class="md-raised md-primary directory-button" ng-hide="!note">
          + Add Note
        </md-button>
        
        <md-card style="text-align:left">
          <md-toolbar>
            <h2 class="md-toolbar-tools">
              <span>My Notes</span>
            </h2>
          </md-toolbar>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="note in notes">
              <div class="md-list-item-text" style="padding:8px">
                {{note.text}}
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-card>
      </div>


      <!-- CONTROL PANEL (HIDDEN)-->
      <div id="control-panel" class="section" ng-show=controlPanelOpen>
        <h1>Control Panel</h1>
        <p>You are logged in as <%= user.email %> (User ID: {{userid}}). Do you want to logout?</p>
        <md-button ng-click="logout()" class="md-raised md-primary directory-button">
          Logout
        </md-button>
        <br>
        <md-card style="text-align:left" ng-hide="{{userid > 3}}">
          <md-toolbar>
            <h2 class="md-toolbar-tools">
              <span>Admin Actions (Delete Notes)</span>
            </h2>
          </md-toolbar>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="note in notes">
              <div class="md-list-item-text" style="padding:8px">
                {{note.text}}<br>
<!--                {{note}}<br>-->
                <md-button class="md-raised md-primary" ng-click="destroyNote(note.id)">[DELETE]</md-button>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-card>
      </div>





    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

    <!-- SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="js/index.js"></script>

  </body>
</html>