<!DOCTYPE html>

<html lang="en" ng-app="mohio">
  <head>
    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


    <!-- MATERIAL DESIGN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />


    <!-- CUSTOM -->
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles/mohio.css">

  </head>

  <body layout="column" ng-controller="AppCtrl">        

    <md-content>
      <md-toolbar id="nav" layout="row">
        <div class="md-toolbar-tools">
          <md-button>
            <a href="">
              <span class="nav-accent" style="margin-right: 20px;">Mohio</span>
            </a>
          </md-button>
          <span flex></span>
          <md-button class="login" ng-click="login()">
            <span class="nav-accent">Login</span>
          </md-button>
        </div>
      </md-toolbar>
      
      <div id="main"></div>

      <div class="spacer"></div>

      
      
      <!-- DIRECTORIES -->
      <div id="directories" class="section" ng-hide=controlPanelOpen>
        <h1>Welcome to Mohio!</h1>
        <md-button ng-click="login()" class="md-raised md-primary directory-button">
          Login
        </md-button>
      </div>



    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

    <!-- SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="js/index.js"></script>

  </body>
</html>