<md-dialog aria-label="Add Idea">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Login</md-subheader>
        <div class="dialog-content">
            <md-input-container style="width:300px; margin:auto;">
                <label>Username</label>
                <input ng-model="identifier">
            </md-input-container>
          <md-input-container style="width:300px; margin:auto;">
                <label>Password</label>
                <input ng-model="password">
            </md-input-container>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="submit(identifier, password)" class="md-primary">
            Submit
        </md-button>
    </div>
</md-dialog>